* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.calculator {
  width: 320px;
  padding: 20px;
  border-radius: 16px;
  background: #333;
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.4);
}

.display {
  margin-bottom: 20px;
  
}

.screen {
  width: 100%;
  height: 80px;
  border: none;
  outline: none;
  background: rgba(28, 28, 28, 0.4);
  color: #fff;
  font-size: 2rem;
  text-align: right;
  padding: 10px 15px;
  border-radius: 12px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 8px;
}

.btn {
  min-height: 60px;
  border: none;
  border-radius: 12px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  transition: all 0.2s ease;
}

.btn:hover {
  background: #ff8c0047
}

.btn:active {
  transform: scale(0.95);
}

.operator {
  background: #ff8c001f;
  color : #ff8c00;
}

.equals {
  height: auto;
  grid-row: span 2;
  background: linear-gradient(135deg, #ff8c00de, #ff5e00d2);
}

.clear {
  grid-column: span 2;
  background: rgba(255, 60, 60, 0.64);
  backdrop-filter: blur(12px);
}

.clear:hover{
  background: rgba(255, 69, 69, 0.504);
}

.zero {
  grid-column: span 2;
}
